.sidebar {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.sidebar-welcome {
  display: flex;
  background-color: #171540;
  align-items: center;
  flex-direction: column;
  color: #ffff;
}

.sidebar > .sidebar-welcome > img {
  width: 100px;
}

.sidebar > .sidebar-welcome > figcaption {
  display: flex;
  align-items: center;
}

.sidebar > .sidebar-welcome > figcaption > p {
  margin-right: 0.5em;
}

.sidebar > .sidebar-welcome > figcaption > a {
  color: #ffff;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  background-color: #e7e7ea;
}

.sidebar-option {
  cursor: pointer;
  height: 80px;
  border: 1px solid black;
}

ul {
  list-style: none;
}

ul > li {
  margin-bottom: 1rem;
}

ul > li > a {
  text-decoration: none;
  color: black;
}
